{{>adminHeader}}


<div class="col py-3 d-flex justify-content-center mt-2">

    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4 ">
            <div class="card-header">Order details</div>
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each orderedProDet}}
                        <tr>
                            <td scope="row">{{this.name}}</td>
                            <td>₹ {{this.price}}</td>
                            <td>{{this.quantity}}</td>
                            <td><img style="width: 50px; height: auto;" src="{{this.image}}" alt="product image">
                            </td>

                        </tr>
                        {{/each}}

                    </tbody>
                </table>


                <div class="d-flex justify-content-between border mt-5 p-5" style="color: #000;">
                    <div class="mt-3 ">
                        <p class="mb-2">Total amount : ₹ <strong>{{myOrderDetails.total}}</strong></p>

                        <p class="mb-2">Payment method: {{myOrderDetails.paymentMethod}}</p>
                        <p class="mb-2">Order status : {{myOrderDetails.status}}</p>


                    </div>



                    <div class="">
                        <h5 class="border-bottom mb-3">Delivery address</h5>
                        <p>{{address.name}}</p>
                        <p>Mobile: {{address.mobile}}</p>
                        <p>{{address.adressLine1}}</p>
                        <p>{{address.addressLine2}}</p>
                        <p>{{address.city}}, {{address.state}},</p>
                        <p>Pin: {{address.pin}}</p>

                    </div>
                </div>
            </div>

            <div class="d-flex">

                <div class="m-l-auto p-r-15 p-b-15">
                    <a href="/admin/orders" class=" btn btn-primary">Back to orders</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- JavaScript Libraries -->


<!-- Template Javascript -->
<script src="/admin/js/main.js"></script>
{{>adminFooter}}