{{>header2}}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>My Account</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"
                                    role="tab" aria-controls="dashboard" aria-selected="false"><i
                                        class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                                    aria-controls="orders" aria-selected="false"><i
                                        class="ti-shopping-cart-full"></i>Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#wallet" role="tab"
                                    aria-controls="orders" aria-selected="false"><i
                                        class="ti-shopping-cart-full"></i>Wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                                    aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>My
                                    Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail"
                                    role="tab" aria-controls="account-detail" aria-selected="true"><i
                                        class="ti-id-badge"></i>Account details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout"><i class="ti-lock"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                            aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a
                                            href="javascript:void(0);"
                                            onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your
                                        <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">
                                            billing addresses</a> and <a href="javascript:void(0);"
                                            onclick="$('#account-detail-tab').trigger('click')">edit your password and
                                            account details.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Orders</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table class="table">
                                            {{#each myOrders}}
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{this._id}}</td>
                                                    <td>{{this.date}}</td>
                                                    <td>{{this.status}}</td>
                                                    <td>{{this.price}}</td>
                                                    <td><a href="/order_details?id={{this._id}}" class="btn btn-fill-out btn-sm">View</a></td>
                                                </tr>

                                            </tbody>
                                            {{/each}}
                                        </table>
                                        <div><a href="/my_orders">View More >></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Wallet</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <h4>Wallet balance :{{userData.wallet}}</h4>
                                    </div>
                                    <div class="pt-2 bg-white col-lg-6">
                                        <form action="/addWallet" method="post">
                                            <div class="form-group mb-3">
                                                <input type="text" required="" class="form-control" name="amount"
                                                    placeholder="Enter Amount">
                                            </div>
                                            <div class="form-group mb-3">
                                                <button type="submit" class="btn btn-fill-out btn-block"
                                                    name="login">Add Balance</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <div>
                                            <h5>Wallet History</h5>
                                        </div>
                                        <table class="table table-hover" id="my-table2">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Add Method</th>
                                                </tr>
                                            </thead>
                                            <tbody id="order_table">
                                                {{#each firstThreeEntries}}
                                                <tr>
                                                    <td scope="row">{{this.date}}</td>
                                                    <td>{{this.amount}}</td>
                                                    <td>{{this.type}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>Billing Address</h3>
                                        </div>
                                        <select id="selectedAddress" class="form-select form-select-lg mb-3 p-3"
                                            aria-label=".form-select-lg example">
                                            {{!-- <option selected>Select an address</option> --}}
                                            {{#each address}}
                                            <option value="{{this._id}}">{{this.adressLine1}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="card" id="selectedCard" style="display: none;">
                                            <div class="card-body">
                                                <h5 class="card-title">Selected Address</h5>
                                                <p class="card-text" id="selectedAddressText"></p>
                                                <a href="/edit_billing_address?id=456546" class="btn btn-fill-out"
                                                    id="editLink">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-detail" role="tabpanel"
                            aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="row">
                                    <div class="card-header">
                                        <h3>Account Details</h3>
                                    </div>
                                    <div class="card-body">
                                        {{#if userData}}
                                        <div class="card-body">
                                            <address>{{userData.name}}<br>{{userData.email}}<br>{{userData.mobile}}</address>
                                        </div>
                                        {{/if}}
                                        <div class="col-md-12">
                                            <a href="/edit_profile?id={{userData._id}}" class="btn btn-fill-out">Edit</a>
                                            <a href="/resetpassword?id={{userData._id}}" class="btn btn-fill-out">Reset Password</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Get references to the select element and card elements
    const selectElement = document.getElementById("selectedAddress");
    const selectedCard = document.getElementById("selectedCard");
    const selectedAddressText = document.getElementById("selectedAddressText");
    const editLink = document.getElementById("editLink");

    // Add an event listener to the select element to detect changes
    selectElement.addEventListener("change", function () {
        // Get the selected option's text and value (_id)
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const selectedText = selectedOption.text;
        const selectedValue = selectedOption.value;

        // Update the card content and display it
        selectedAddressText.textContent = selectedText;
        selectedCard.style.display = "block";

        // Update the href attribute of the edit link with the selected _id
        editLink.href = `/edit_billing_address?id=${selectedValue}`;
    });
</script>
<!-- END SECTION SHOP -->
{{>footer}}